h2 {
    font-size: 40px;
    justify-self: left;
}

#song-library-page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

#title-filters-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    margin: 0px 25px 0px 25px;
}

#song-filter-buttons-container {
    display: inline-flex;
}

.song-filter-button {
    background-color: #5e807f;
    color: #1E201E;
    
    border: 0px;

    width: 129px;
    height: 50px;

    margin-right: 10px;
}

#add-song-button {
    justify-self: center;
    align-self: center;
    font-size: 32px;
    color: #832232;
}

#song-library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0px 16px 16px 16px;
    justify-content: center;
}
