#add-song-page {
    display: flex;
    flex-direction: column;
}

#title-search-bar-container {
    display: flex;
    flex-direction: row;
}

#back-results-container {
    display: flex;
}

#search-results-selector-container {
    display: flex;
    flex-direction: column;
}